h1
{
	color:purple
}
h1
{
	text-align:center
}
h1
{
	font-family: "Times new Roman"
}
h1
{
	font-size: 100px
}
h2
{
	color:purple
}
h2
{
	text-align: center 
}
h2
{
	font-family: "Times new Roman"
}
body
{
  background-image: url("pesi.jpg")
}
body
{
  background-size: cover
}
h3
{
	text-align: center 
}
h3
{
	color: purple
}